---
layout: default
---
<h1>Project Portfolio:</h1>
<div class="projects"> 
{% for project in site.projects %} 
  <a href="#{{  project[0] }}">{{  project[0] }}</a>
{% endfor %}
</div>

<h2>Some of My <span style="font-size:0.45em;font-style: italic;">just for Fun</span> Projects</h2>
<div class="projects">
<ul>
{% for project in site.projects %}
  <li>
    <a href="{{ project.url }}">{{ project.title }}</a>
    <ul>
      <li>Made for kicks <em>& with plenty of Love</em> by {{ site.author.name }}</li>
      <li>Relative topics may include: {% for tag in project.tags %} <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a> {% endfor %}</li>
    </ul>
  </li>
{% endfor %}
  <li>
    <a href="http://jerad.xyz/SD_DataScience_Competition/ExploreSuspExp.html#/">Interactive Early Findings From San Diego Data Library's 2015 Data Science Hackathon</a>
    <ul>
      <li>
        <a href="https://youtu.be/PUq_ojFRw2A">Clip of me sharing my findings</a> at the winner's presentation on youtube
      </li>
      <li>
        <a href="http://bit.ly/SDDataHackathonDeck">Copy of Presentation Deck</a>
      </li>
    </ul>
  </li>
</ul>
</div>

<div class="Off-site Projects">
  <h2>Off-Site Projects Research and Publications</h2>
  <sup>especially curated for those creatures who don't live on <a href="{{ site.baseurl }}">my site</a></sup>
  <h3>Works Created As Part of My Johns Hopkins University Data Science Professional Certification</h3>
  <ul>
    <li>
      <a href="http://rpubs.com/irJERAD/MilestoneReport">Natural Language Processing & Data Analysis to Identify Source of Text</a>
    </li>
      <ul>
        <li>A Milestone Report for the certification in Data Science I received from Johns Hopkins University</li>
        <li>Purposed to express the importance of reproducibility in data science</li>
        <li>Using Natural Language Processing techniques while parsing of large text based data sets, allowing me to quanitify and differentiate and identify the source of a of text as a twitter post, news article, or online blog post</li>
      </ul>
     <li> 
        <a href="http://rpubs.com/irJERAD/WeatherDamage">Calculating the Cost of Weather in Lives and Dollars</a>
      </li>
        <ul>
          <li>An early piece of peered reviewed work in the Johns Hopkins program</li>
          <li>This research was based on exploratory data analysis I conducted on a data set from the Nation Weather Service</li>
        </ul>
    </ul>
  <h3>Sharing Unnecessarily Hard Learned Lessons So Others Need Not</h3>
  <ul>
    <li>
        <a href="http://rpubs.com/irJERAD/PlotlyArrowHead">Plotly's Arrowhead Style Settings Report</a>
    </li>
      <ul>
        <li>A quick slide deck on how to use the R Plotly package's arrowhead style setting</li>
        <li>This took an embarrassing amount of time. Not sure if I shared this out of fairness to others, or simply to justify my own ego's expense at such an elegant <em>read: obvious</em> solution</li>
      </ul>
  </ul>
</div>

            <!-- By CATEGORY -->
<!-- iterate through all categories in Projects collection --> 
{% for catitem in site.projects.categories %} 
  <!-- for each tag, create an anchor by using the tag name as an id --> 
  <div id="{{ catitem[0] }}">  
    <h3> {{ catitem[0] }} </h3>  <!-- for create a heading --> 

    <ul> <!-- create the list of posts -->
      <!-- iterate through all the posts on the site --> 
      {% for project in site.projects %} 
        <!-- list only those which contain the current tag --> 
        {% if project.categories contains catitem[0] %} 
            <li>
              <a href="{{ project.url }}">{{ project.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}

            <!-- By Tag -->
<!-- iterate through each tags on a projects and list associated projects --> 
<h2>Projects by Tag</h2>
<!-- Join all tags from all project pages into a single project-tags list -->
{% assign project-tags =  site.projects | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tagitem in project-tags %}
    <!-- for each tag, create an anchor by using the tag name as an id --> 
  <div id="{{ tagitem }}">
      <!-- for create a heading --> 
    <h3> {{ tagitem }} </h3>
      <!-- create the list of each Tag used by a Project -->
    <ul>
      <!-- iterate through all the projects in the category --> 
      {% for project in site.projects %} 
        <!-- list only those which contain the current tag --> 
        {% if project.tags contains tagitem %} 
          <li>
            <a href="{{ project.url }}">{{ project.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}


            <!-- All Project Tags -->
<!-- Grab All tages used in Projects and create links to their pages -->
<h2>Project Tags:</h2>
<div class="tags"> 
  {% for project in site.projects %}
    {% for tag in project.tags %}
      <a href="#{{ tag }}">{{ tag }}</a>
    {% endfor %}
  {% endfor %}
</div>